* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/1.5 "Microsoft YaHei";
	color: #939393;
	min-width: 1280px;
	width: 100%;	
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

.container {
	margin: 0 auto;
	width: 100%;/*1080px*/
}

/*页眉*/
header {
	font-size: 16px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
header div {
	margin: 15px 0 12px 3%;
}
header nav {
	margin: 15px 3% 0 0;
}
header li {
	display: inline-block;
	padding: 0 12px 0 12px;
	padding-bottom: 20px;
}
header li a {
	color: #939393;
	font-size: 80%;
}
header li:hover {
	border-bottom: 4px solid #e74f4d;
	color: #e74f4d;
}
header li:hover a {
	color: #e74f4d;
}
	/*sign in*/
li.signin {
	background: url(../images/sign.png) no-repeat left 8%;
	padding-left: 24px;
	margin-left: 5px;
}
/*第一部分*/
.one {
	width: 100%;
	height: 721px;
	background-image:url(../images/big-bg.png);
    background-size: cover;
    position: relative;
}
.newlife {
	position: absolute;
	width: 40%;
	height: 30%;/*0.3*721=216.3 */
	top: 30%;
	left: 10%;
    color: #fff;
}
.newlife h1 {
	font-size: 500%;/* 12*5=60px */
	font-weight: normal;
}
.newlife p {
	font-size: 150%;/*px*/
	width: 60%;
}
/*特殊按钮*/
.newlife button {
	width: 65%;
	height: 27%;
	margin-top: 10%;
	font-size: 250%;
}
/*按钮统一样式*/
.newlife button, .picture button {
	border: none;
	background-color: #E74F4D;
	font-family: "Microsoft YaHei";
	color: #fff;
	cursor: pointer;
	transition: color 2s;
}
button:hover {
	border: 1px #e74f4d solid;
	color: #e74f4d;
	background-color: transparent;
}

/*intro 第二部分*/
.intro {
	width: 100%;
}
.intro ul{
	width: 100%;
	margin: 30px 0;
	display: flex;
	justify-content: space-around;/*默认水平主轴方向，水平两端对齐*/

}
.intro li {
	width: 25%;
	height: 150px;
	display: flex;
	text-align: center;
	justify-content: space-around;/*主轴方向两端对齐*/
	align-items: center;
	flex-direction: column;/*规定主轴方向*/
}
/*同时规定width、padding*/
.intro li p {
	width: 45%;/*若不规定width，在IE、chrome上会出错*/
	padding: 0 27.5%;/*让P居中*/
	border-right: 1px solid #939393;
}
.intro li:last-child p {
	border-right: none;
}

/*第三部分 biglogo*/
.biglogo {
	width: 100%;
	height: 300px;
	background-color: #EDEDEC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 450%;
	color: #c3c3c3;
}
.biglogo img {
	margin-bottom: 10px;
}
.biglogo p {
	margin-top: 10px;
}


/*第四部分 城市活动*/
.city {
	background-image: url(../images/city2.png),url(../images/city.png);/*第一个背景在最前面*/
	background-size: cover;
	width: 100%;
	height: 341px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
}
.city h2, .city span, .city form, .city p {
	margin: 20px 0;
}
.city h2{
	font-size: 180%;
	margin-bottom: 5px;
}
.city div.under {
	width: 3%;
	background-color: #fff;
	height: 3px;
	margin: 0 48.5%;
}
.city p {
	font-size: 120%;
}
.city form {
	display: flex;
	justify-content: center;

}
.city select {
	width: 20%;
	height: 30px;
	border: solid 1px #fff;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../images/select.png) no-repeat 97%;
	color: #b1b1b1;
	background-color: #fff;
	margin-right: 2%;
	padding: 2px 0px 2px 15px;

}
select option {
	padding-left: 15px;
}

select option:hover {
	background-color: #e74f4d;
	background: url(../images/task_1_6_1_0000s_0001s_0000__----_.png) no-repeat left 50%;
	
	color: #fff;
}
form button {
	border: none;
	width: 80px;
	background-color: #e74f4d;
	color: #fff;
}
/*第五部分*/
.active {
	display: flex;
	justify-content: space-around;
	margin: 5% 5%;
	height: 400px;
	overflow: hidden;
}
.active img {
	padding: 3%;
	border: 1px solid #EDEDEC;	
}
.active h3, .active p {
	text-align: center;
	margin: 5px;
}
.active div:hover h3 {
	font-size: 200%;
	transition: all 2s;
}

/*第六部分 轮播图*/
.picture {
	position: relative;
	width: 100%;
	height: 566px;

}
  /*图片适应*/
.picture img {
	width: 66.5%;
	height: 100%;
}
.picture .bg-img {
	position: absolute;
	width: 25%;
	height: 400px;
	top: 20%;
	left: 21%;
	color: #fff;
	font-size: 300%;
	text-align: center;
	line-height: 1;
	text-indent: -999px;
}
.picture .hide {
	display: none;
}
.picture .bg-img h1 {
	font-size: 350%;
	font-weight: normal;
}
.picture .bg-img h3 {
	font-weight: normal;
}
.picture .bg-img p {
	font-size: 50%;
	line-height: 2;
}
.picture div + div {
	color: #c3c3c3;
	width: 25%;
	height: 567px;
	position: absolute;
	right: 4.2%;
	top: 22%;
	text-align: center;
	line-height: 2.5;
}
.picture div + div h2 {
	font-size: 170%;
	color: #4b4b4b;
}
.picture div + div p {
	font-size: 100%;
	text-align: left;
}
.picture div + div h2 span {
	color: #e74f4d;
}
.picture div + div button {
	width: 40%;
	height: 40px;
	margin-top: 10%;
}
/*轮播图控制点*/
.picture div + div ul {
	margin: 10%;
	height: 30px;
}
.picture div + div ul li {
	list-style: none;
	border-radius: 50%;
	display: inline-block;
	width: 5%;
	height: 40%;
	border: 1px solid #E1E1E1;
	margin: 2%;
	cursor: pointer;
}
.picture div + div ul li:hover,
.picture div + div ul li:active,
.picture div + div ul li:visited {
	background-color: #E1E1E1;
}
/*小三角*/
.picture .hook {
	width: 0;
	height: 0;
	background-color: transparent;
	border-style:solid;
	border-color: transparent #fff transparent transparent;
	border-width: 12px 20px 12px 20px;
	position: absolute;
	left: 63.5%;/*缩放时位置会改变，怎么解决*/
	top: 50%;
}


/*第七部分 more*/
.more {
	display: flex;
	width: 100%;
	height: 100%;/*521px*/
	position: relative;
}
.more .red,.more .white {
	width: 33.3%;
	text-align: center;
	line-height: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*直接用px表示则不会出错*/
}
.more .red {
	background-color: #E74F4D;
	color: #fff;
	text-align: center;
}
.more img {
	width: 33.3%;
	height: 100%;
}
.more h3 {
	font-size: 150%;
	font-weight: normal;
}
	/*横线样式*/
.more div span {
	width: 10%;
	height: 2px;
	display: block;
	text-align: center;
	margin: 4% auto;
}
.more .red span {
	background-color: #fff;
}
.more .white span {
	background-color: #e74f4d;
}
.more div:hover span {
	width: 37%;
	transition: width 1s;
}
/*按钮样式*/
.more button {
	background-color: transparent;
	width: 30%;
	height: 7%;
	font-size: 140%;
	cursor: pointer;
	margin-top: 3%;
	margin-left: 35%;
	transition: all 2s;
}
.more .red button {
	border: 1px white solid;
	color: white;
}
.more .red button:hover {
	color: #e74f4d;
	background-color: #fff;
}
.more .white button {
	border: 1px solid #e74f4d;
	color: #e74f4d;
}
.more .white button:hover {
	background-color: #e74f4d;
	color: #fff;
}

span.hook {
	width: 0;
	height: 0;
	background-color: transparent;
	border-style:solid;
	border-color: transparent transparent transparent #fff;
	border-width: 12px 20px 12px 20px;
	position: absolute;
	/*若定义right，则缩放时会错位*/
	left: 66.6%;
	top: 50%;
}


/*第八部分 志愿者*/
.join {
	width: 100%;
	height: 100%;
	margin-bottom: 5%;
	text-align: center;
}
	/*描述部分*/
.join-desc {
	font-size: 130%;
	width: 27%;
	margin: 5% auto;
}
.join-desc p {
	font-size: 70%;
}
/**/
.join-in {
	width: 80%;
	margin: 0 auto;
	display: flex;
}
.join-in .join-rule {
	width: 33.3%;
	margin: 0 5%;
	text-align: left;
	font-size: 90%;
}
	/*前面两条占40%*/
.join-rule div {
	height: 40%;
}
.join-rule div:last-child {
	height: 20%;
}
.join-rule div h4 {
	font-size: 120%;
	margin-bottom: 7%;
}
.join-rule div span {
	float: right;
	padding-left: 15px;
	background: url(../images/task_1_6_1_0000s_0001s_0000__----_.png) no-repeat 0 center;
}
/*表单*/
.join-apply form {
	width: 100%;
	/*display: flex;
	justify-content: flex-start;*/
}
.join-apply input {
	width: 46%;
	height: 25px;
	padding: 1%;
	margin-bottom: 10px;
	background-color: #ECEDEE;
	border: none;
	border-radius: 3px;
	text-indent: 1em;
}
.join-apply input:nth-child(2n) {
    margin-left: 3%;
}
.join-apply textarea {
	background-color: #ECEDEE;
	border: none;
	width: 98%;
	padding: 1%;
	border-radius: 3px;
}
.join-apply button {
	background-color: #ECEDEE;
	border: none;
	width: 100%;
	font-size: 130%;
	font-family: "Microsoft YaHei";
	line-height: 2;
	margin-top: 1%;
	border-radius: 3px;
}
	/*占位符样式*/
form input::-webkit-input-placeholder {
	/*chrome/opera/safari*/
	color: #6C6564;
}
form input::-moz-placeholder {
	/*firefox 19+*/
	color: #6C6564;
	opacity: 1;
}
form input:-ms-input-placeholder {
	/*ie 10+*/
	color: #6C6564;
}
form input:-moz-placeholder {
	/*firefox 18-*/
	color: #6C6564;
	opacity: 1;
}
form textarea::-webkit-input-placeholder {
	/*chrome/opera/safari*/
	color: #6C6564;
}
form textarea::-moz-placeholder {
	/*firefox 19+*/
	color: #6C6564;
	opacity: 1;
}
form textarea:-ms-input-placeholder {
	/*ie 10+*/
	color: #6C6564;
}
form textarea:-moz-placeholder {
	/*firefox 18-*/
	color: #6C6564;
	opacity: 1;
}


/*联系我们*/
.contact {
	color: #fff;
	background-color: #000;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 130%;
	padding-top: 5%;
}
.contact h2, .contact p, .contact form, .contact ul {
	width: 40%;
}
.contact h2 {
	font-weight: normal;
	line-height: 2;
}
.contact p {
	margin-bottom: 30px;
	font-size: 80%;
}
.contact form {
	position: relative;
	height: 100%;
}
.contact form input {
	width: 100%;
	height: 24px;
	padding: 4px;
	border: none;
	text-indent: .8em;
}
.contact form button {
	position: absolute;
	bottom: 0;
	right: -8px;/*input增加了8px的内边距，超了form8px*/
	border: none;
	width: 15%;
	height: 32px;
	line-height: 1;
	background-color: #777;
	color: #fff;
	font-family: "Microsoft YaHei";
}
/*联系方式*/
.contact ul {
	margin: 40px 0 60px;
}
.contact .way li {
	display: inline-block;
	width: 10%;
}

/*footer*/
footer {
	background-color: #000;
	color: #fff;
	padding: 0 5%;
}
footer p {
	display: inline-block;

}
footer .back {
	margin-left: 87%;
}
footer a {
	color: #fff;
}