* {
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 216760 */
  src: url('//at.alicdn.com/t/font_uxp9gjkb1wlmobt9.eot');
  src: url('//at.alicdn.com/t/font_uxp9gjkb1wlmobt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_uxp9gjkb1wlmobt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_uxp9gjkb1wlmobt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_uxp9gjkb1wlmobt9.svg#iconfont') format('svg');
}
.iconfont{ 
	font-family: "iconfont"; 
	font-size: 12px;
	font-style: normal; 
	-webkit-font-smoothing: antialiased; 
	-webkit-text-stroke-width: 0.2px; 
	-moz-osx-font-smoothing: grayscale;
	padding-right: 8px;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #6e8095;
}
table {
	border-collapse: collapse;
	font-size: 80%;
	text-align: center;
}
table,td,th {
	border: 1px solid #c2c2c2;
}
body {
	font-size: 12px;
	font-family: "SimHei","Microsoft Yahei","Arial";
	background: #eeedec;
}
/*button样式*/
button.btn-search {
	border: none;
	background-color: #247cca;
	color: #fff;
	width: 51px;
	height: 26px;
}
/*select样式*/
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 22px;
	padding: 3px 10px 3px 5px;
	margin-right: 18px;
	border-color: #c2c2c2;
	background: url(../images/blackhook.png) no-repeat 45px center;
	color: #000;
	font-size: 100%;
	font-family: "黑体";
}
/*右侧正文4个模块面板样式*/
.grid {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	background-color: #fff;
	font-size: 140%;

}
.grid h5 {
	background-color: #eeedec;
	padding: 10px 0 10px 20px;
	font-size: 90%;
}
/*头部样式*/
header {
	background-color: #247cca;
	height: 56px;
	/*没设置最小宽度时，浏览器放大时header的宽度会等于窗口宽度，不会扩展到滚动条外*/
	min-width: 1280px;
	width: 100%;
	        box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px 20px;
	font-size: 120%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header>img {
	margin-left: 2%;
}
header form {
	margin-left: 52%;
}
header form input {
	width: 278px;
	height: 28px;
	border: none;
	border-radius: 20px;
	padding-left: 35px;
	background: url(../images/search.png) no-repeat 15px center;
	background-color: #fff;
}
header .signin {
	margin-right: 10%;
}
.signin a {
	color: #fff;
}

/*内容*/
section.wrapper {
	width: 1280px;/*固定宽度*/
	height: 1213px;
	margin: 0 auto;
	display: flex;
}
/*边栏*/
aside {
	width: 260px;
	background-color: #2a2e3d;
	color: #6e8095;
}

aside div:first-child {
	padding: 20px 40px;
	display: flex;
	align-items: center;
}
aside div img {
	border: 1px solid #fff;
	padding: 3px;
	border-radius: 50%;
	margin-right: 20px;
}
aside div span {
	font-size: 200%;
	line-height: 1;
	color: #fff;
}
aside .star {
	margin: 10px 52px;
}
aside .star li {
	display: inline-block;
	font-size: 150%;
	text-align: center;
}
aside .star li span {
	display: block;
	font-size: 87%;
}
aside .star li:first-child {
	margin-right: 50px;
}
aside .index {
	font-size: 120%;
	margin-top: 20px;
}
aside .index ul,
aside .index p {
	line-height: 3;
	padding-left: 40px;
}
aside .index ul li {
	padding-left: 20px;
}
aside .index ul li ul {
	padding-left: 15px;
}
aside .index ul:first-child {
	background-color: #383d4e;
} 
aside .index ul a.selected {
	color: #fff;
}

/*主要内容*/
section.main {
	width: 1020px;
	color: #c2c2c2;
	font-size: 100%;
}



.main nav {
	box-sizing: border-box;/*使得宽度加上内边距后不会溢出*/
	width: 100%;
	padding: 9px 0 9px 28px;
	background-color: #fff;
}
nav span {
	color: #247cca;
}
.main-content {
	padding: 20px 73px 0 56px;
}
/*上方搜索*/
.lookfor {
	box-sizing: border-box;
	width: 890px;
	height: 86px;
	padding: 15px 25px;
	margin-bottom: 8px;
	font-size: 100%;
}
.lookfor form {
	display: flex;
	box-sizing: border-box;
}
.lookfor form div {
	box-sizing: border-box;
}
.loodfor form label {
	text-align: center;
}
.lookfor select {
	margin-left: 7px;
	width: 65px;
	margin-bottom: 5px;	
}
select.blue {
	background-image: url(../images/bluehook.png);
}
.lookfor div.sold {
	display: flex;
	flex-flow: column wrap;
	width: 200px;
}
.lookfor div.sold div select {
	width: 120px;
	background-position: 100px center;
}
.lookfor div:last-of-type {
	width: 330px;
}
.lookfor div:last-of-type select:first-of-type,
.lookfor div:last-of-type select:last-of-type {
	width: 120px;
	background-position: 100px center;
}
.lookfor button {
	margin-top: 14px;
}

/*价格显示部分*/
.result ul {
    display: flex;
    justify-content: space-between;
}
.result ul li {
	box-sizing: border-box;
	background-color: #fff;
	height: 60px;
	border: 1px solid #c2c2c2;
	border-radius: 0 0 5px 5px;
	text-align: center;
	font-family: "黑体";
	font-size: 130%;
}
.result ul li span:first-child {
	display: block;
	color: #000;
	font-size: 90%;
	margin: 11px 0 1px;
}
.result ul li span:last-child {
	color: #ec6500;
	font-size: 150%;
	font-weight: bold;
}
li[class*="pointer"] {
	width: 30px;
}
li[class*="pointer"] i {
	display: inline-block;
	margin-left: 7px;
	margin-top: 21px;
}
li.money {
	width: 108px;
}
li.history {
	width: 127px;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
li.history i {
	color: #247cca;
}
.result ul li.blue {
	border-top: 4px solid #247cca;
}

/*统计部分*/
div.statistics {
	margin-top: 20px;
}
div.statistics h6 {
	color: #000;
	font-size: 110%;
	font-family: "黑体";
	margin-bottom: 4px;
}
div.statistics ul {
	display: flex;
	justify-content: space-between;
}
div.statistics ul li {
	width: 175px;
	height: 70px;
	border: 1px solid #c2c2c2;
	padding: 0 15px 0 10px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.statistics li span.num span:first-child {
	display: block;
	color: #000;
}
div.statistics li span.chart {
	display: inline-block;
	width: 60px;
	height: 45px;

}
div.statistics li.red,
div.statistics li.green,
div.statistics li.yellow,
div.statistics li.blue {
	border-left-width: 4px;
}
div.statistics li.green {
	border-left-color: #43b29e;
}
div.statistics li.red {
	border-left-color: #d96d5c;
}
div.statistics li.yellow {
	border-left-color: #e2cd46;
}
div.statistics li.blue {
	border-left-color: #388ac1;
}
div.statistics li.green span.chart {
	background-color: #43b29e;
}
div.statistics li.red span.chart {
	background-color: #d96d5c;
}
div.statistics li.blue span.chart {
	background-color: #388ac1;	
}
div.statistics li.yellow span.chart {
	background-color: #e2cd46;
}

/*项目部分*/
div.project {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

/*项目左侧部分*/
div.pro-table {
	width: 526px;
	background-color: #fff;
}
div.pro-table li {
	display: inline-block;
	width: 80px;
	height: 26px;
	border: 1px solid #c2c2c2;
	border-radius: 5px 5px 0 0;
	background-color: #eeedec;
	text-align: center;
	color: #000;
	cursor: pointer;
	line-height: 24px;
	font-size: 90%;
}
div.pro-table .pro-box {
	width: 488px;
	height: 275px;
	margin: 13px 0 25px 18px;
}
div.pro-table div.pro-tab {
	box-sizing: border-box;
	border: 1px solid #c2c2c2;
	width: 488px;
	margin-top: -1px;/*用上负边距将div向上移，被li覆盖*/
	padding:28px 0 35px 35px;
}
div.pro-table ul li.selected {
	height: 27px;/*比其他li多一个像素。因为下边距被设为无*/
	border-bottom: none;
	background-color: #fff;
	z-index: 1;/*覆盖div*/
}
div.pro-table div table tr {
	height: 30px;
	width: 400px;
}
div.pro-table div table td {
	width: 100px;
}

/*项目右侧*/
div.pro-detailed {
	width: 348px;
	height: 355px;
	box-sizing: border-box;
}
.pro-detailed div {
	margin: 12px 34px 0 34px;
	line-height: 1.6;
}
.pro-detailed h6 {
	font-size: 80%;
	border-bottom: 1px solid #c2c2c2;
	text-indent: 10px;
}
.pro-detailed h6 span {
	color: #383d4e;
	font-size: 100%;
	display: block;
}
h6.in-blo {
	display: inline-block;
}
h6:nth-child(2) {
	width: 93px;
	margin-right: -8px;
	border-right: 1px #c2c2c2 solid;
}
h6:nth-child(3) {
	width: 183px;
}
h6:nth-child(4) {
	height: 145px;
}
.pro-detailed form {
	margin-top: 8px;
}
.pro-detailed form label {
	font-size: 90%;
}
.pro-detailed form button {
	float: right;
}

/*日历汽车部分*/
.calendar-car {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
/*日历*/
.calendar {
	width: 350px;
	height: 356px;

}
 /*日历选择*/
.calendar form{
	text-align: center;
	margin: 12px 0;
}
.calendar form button {
	background-color: transparent;
	width: 60px;
	border: 1px solid #c2c2c2;
	font-family: "黑体";
	line-height: 1.8;
	cursor: pointer;
}
.calendar form select {
	font-size: 70%;
	margin-right: 3px;
}
.calendar form select:first-child {
	width: 60px;
}
.calendar form select:nth-child(2) {
	width: 80px;
}
.calendar form select:nth-child(3) {
	width: 70px;
}
/*日历表格*/
.calendar-car .calendar table,
.calendar-car .calendar tr,
.calendar-car .calendar td,
.calendar-car .calendar th {
	border: none;
	color: #383d4e;
	font-size: 90%;
}
.calendar table.calendar-table1 {
	margin: 0 auto;
	
}
.calendar table.calendar-table2 {
	border-collapse: separate;
	margin: 0 auto;
}

.calendar table.calendar-table2 tr {
	height: 42px;
}

.calendar td,.calendar th {
	width: 45px;
	box-sizing: border-box;
	cursor: pointer;
}
.calendar tr span {
	display: block;
}
.calendar table.calendar-table1 tr {
	height: 28px;
	border-top: 1px solid #d9eaf7;
	border-bottom: 1px solid #c2c2c2;
}
.calendar td span.weekend {
	color: red;
}
.calendar td.selected {
	border: 1px solid #ffb100;
}
.calendar td:hover {
	border: 1px solid #ffb100;
}


/*car*/
.car {
	width: 530px;

}
.car table {
	color: #383d4e;
	margin: 20px 0 20px 40px;
}
.car tr {
	height: 25px;
}
.car tr td:first-child,
.car tr th:first-child {
	width: 66px;
}
.car tr td,
.car tr th {
	width: 90px;
}
.car tr td:last-child, 
.car tr th:last-child {
	width: 290px;
	text-align: left;
	text-indent: 25px;
}
.car tr td span.amount {
	display: inline-block;
	margin-left: 15px;
	height: 5px;
}
.car tr td span:last-child {
	display: inline-block;
	height: 5px;
}
.car tr:nth-child(2) td span.amount {
	width: 150px;
	height: 5px;
	background-color: #ff9900;
}
.car tr:nth-child(2) td span:last-child {
    background-color: #c2c2c2;
    width: 30px;
}
.car tr:nth-child(3) td span.amount {
	width: 140px;
	background-color: #ff9900;
}
.car tr:nth-child(3) td span:last-child {
    background-color: #c2c2c2;
    width: 40px;
}
.car tr:nth-child(4) td span.amount {
	width: 135px;
	background-color: #ffbb00;
}
.car tr:nth-child(4) td span:last-child {
    background-color: #c2c2c2;
    width: 45px;
}
.car tr:nth-child(5) td span.amount {
	width: 120px;
	background-color: #3871cb;
}
.car tr:nth-child(5) td span:last-child {
    background-color: #c2c2c2;
    width: 60px;
}
.car tr:nth-child(6) td span.amount {
	width: 115px;
	background-color: #3871cb;
}
.car tr:nth-child(6) td span:last-child {
    background-color: #c2c2c2;
    width: 55px;
}
.car tr:nth-child(7) td span.amount {
	width: 110px;
	background-color: #3871cb;
}
.car tr:nth-child(7) td span:last-child {
    background-color: #c2c2c2;
    width: 60px;
}
.car tr:nth-child(8) td span.amount {
	width: 100px;
	background-color: #3871cb;
}
.car tr:nth-child(8) td span:last-child {
    background-color: #c2c2c2;
    width: 70px;
}
.car tr:nth-child(9) td span.amount {
	width: 95px;
	background-color: #3871cb;
}
.car tr:nth-child(9) td span:last-child {
    background-color: #c2c2c2;
    width: 75px;
}
.car tr:nth-child(10) td span.amount {
	width: 90px;
	background-color: #3871cb;
}
.car tr:nth-child(10) td span:last-child {
    background-color: #c2c2c2;
    width: 80px;
}
.car tr:nth-child(11) td span.amount {
	width: 80px;
	background-color: #3871cb;
}
.car tr:nth-child(11) td span:last-child {
    background-color: #c2c2c2;
    width: 90px;
}