* {
	margin: 0;
	padding: 0;
}
div.container {
	width: 100%;
	border: 1px solid #999;
} 
/*清除浮动*/
.container:before,
.container:after {
	content: "";
	display: block;/*display:table*/
	clear: both;
}
/*设置outer是为了设置inner的外边距时不会影响到整体的width*/ 
.container div.outer {
	float: left;
}
.inner {
	height: 50px;
	border: 1px #999 solid;
	background-color: #eee;
	margin: 10px;
}
@media all and (min-width: 769px) {
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.6%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.3%;
	}
	.col-md-5 {
		width: 41.6%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.3%;
	}
	.col-md-8 {
		width: 66.6%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.3%;
	}
	.col-md-11 {
		width: 91.6%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.col-sm-1 {
		width: 8.33%;
	}
	.col-sm-2 {
		width: 16.6%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.3%;
	}
	.col-sm-5 {
		width: 41.6%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.3%;
	}
	.col-sm-8 {
		width: 66.6%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.3%;
	}
	.col-sm-11 {
		width: 91.6%;
	}
	.col-sm-12 {
		width: 100%;
	}
}